#playButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;   /* adjust size */
  height: 70px;
  cursor: pointer;
  z-index: 1200;
  transition: transform 0.2s, filter 0.2s;
}

/* cute hover effect */
#playButton:hover {
  transform: scale(1.2) rotate(-10deg);
  filter: drop-shadow(0 0 10px pink);
}

#wishesContainer {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('birthday.gif') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.7s ease;
}

#wishesContainer.show {
  top: 0;
}

#birthdayGif {
  opacity: 0;             /* invisible at first */
  transition: opacity 0.7s ease; /* takes 0.7s to change opacity smoothly */
}

#birthdayGif.show {
  opacity: 1;             /* fully visible */
}

